body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;

}

.main-container {
  /* border: 3px solid #fbc02d;
  border-radius: 10px; */
  padding-top: auto;
  padding-bottom: auto;
  /* margin-top: 20px; */
  text-align: center;
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.homepage {
  padding-top: 120px;
  padding-bottom: 125px;
}

.footer {
  font-size: 14px;
  text-align: center;
  background-color: rgb(224, 224, 224);
  padding-top: 10px;
  padding-bottom: 1px;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.description {
  font-size: 14px;
  margin-bottom: 30px;
}

.btn-custom {
  background: linear-gradient(to bottom, #5645f4, #f58adf);
  font-weight: 700;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
  color: #ffffff;
  transition: transform 0.2s;
}

.btn-custom:hover {
  transform: scale(1.05);
}

.title {
    font-size: 24px;
    font-weight: bold;
}

/* spin */
.subtitle {
    margin-bottom: 20px;
    color: #555;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    background-color: #27ae60;
    color: white;
}

.btn-secondary {
    background-color: #c0392b;
    color: white;
}

.input-area {
    width: 300px;
    height: 100px;
    margin: 15px auto;
    display: block;
    padding: 10px;
}

.wheel {
    position: relative;
    margin: 20px auto;
    width: 300px;
    height: 300px;
}

#wheelCanvas {
    display: block;
    width: 100%;
    height: 100%;
    border: 4px solid #333;
    border-radius: 50%;
}

/* Glow saat berhenti */
#wheelCanvas.glow {
    box-shadow: 0 0 20px 5px #f1c40f;
    transition: box-shadow 0.5s ease-in-out;
}

.pointer {
    position: absolute;
    top: -15px; /* atau -15px jika terlalu dekat */
    left: 50%;
    transform: translateX(-50%);
    width: 40px; /* sesuaikan dengan ukuran gambar */
}

/* Flash Message */
#flashMessage {
    display: none;
    background-color: #f1c40f;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.flash-show {
    animation: slideFadeIn 0.5s ease forwards;
}